# Module 2 Homework - Pandas
Using a dataset from _Wine Spectator_, a wine magazine, we will practice data transformation, grouping, and sorting.

Created by Eden Kidane (1734854)  
Last updated: 9/10/25

In [1]:
csvurl="https://gist.githubusercontent.com/clairehq/" + \
        "79acab35be50eaf1c383948ed3fd1129/raw/407a02139ae1e134992b90b4b2b8c329b3d73a6a/winemag-data-130k-v2.csv"
import pandas as pd
wine = pd.read_csv(csvurl)

**Data cleaning**  
Notice that the first column is redundant. Part of data analysis is cleaning and removing redundancy. How would you drop the redundant column inplace, that is overwrite the dataframe.

#### Question 1: ####  
What is the mean of the points column?

88.43403716087269

In [2]:
# Your code here . . .
mean_wine = wine['points'].mean()
print(mean_wine)

88.43403716087269

#### Question 2: ####  
How many countries are present in this dataset? (Only count each country once)

41

In [3]:
# Your code here . . .
unique_countries = wine['country'].nunique()
unique_countries

41

#### Question 3: ####
How many times does each country appeared in this dataset? Show each country and the corresponding count (show counts in ascending order)

In [4]:
# Your code here . . .
country_counts = wine['country'].value_counts()
country_counts

country
US                        27177
France                    11174
Italy                     10005
Spain                      3409
Portugal                   2963
Chile                      2258
Argentina                  1907
Austria                    1635
Australia                  1177
Germany                    1051
South Africa                737
New Zealand                 733
Israel                      259
Greece                      242
Canada                      108
Bulgaria                     68
Romania                      67
Uruguay                      61
Hungary                      61
Croatia                      44
Turkey                       43
Slovenia                     39
Georgia                      37
England                      36
Mexico                       31
Brazil                       31
Moldova                      30
Lebanon                      20
Morocco                      11
Peru                          8
Serbia                        7
Macedonia                     6
Czech Republic                6
Cyprus                        6
Ukraine                       5
Luxembourg                    4
India                         4
Switzerland                   4
Armenia                       1
Bosnia and Herzegovina        1
Slovakia                      1
Name: count, dtype: int64

#### Question 4: ####
Create a variable `adjusted_price` containing the adjusted price which is the price subtracted by the average price. *This is called **"centering" transformation** - a method commonly used in the preprocessing step before applying various machine learning algorithms.*

In [7]:
# Your code here . . .
adjusted_price = wine['price'] - mean_wine
adjusted_price
#mean_wine from question 1 (its the mean of the price)

0              NaN
1       -73.434037
2       -74.434037
3       -75.434037
4       -23.434037
           ...
65494   -43.434037
65495   -66.434037
65496   -68.434037
65497   -57.434037
65498   -78.434037
Name: price, Length: 65499, dtype: float64

#### Question 5: ####
What is the title of the wine that has the highest points-to-price ratio in the dataset?

Bandit NV Merlot (California)

In [ ]:
# Your code here . . .
#ratio --> division --> highest ratio is what im looking for
points_to_price = wine['points'] / wine['price']
points_to_price
wine['title'][points_to_price.idxmax()]

'Bandit NV Merlot (California)'

#### Question 6: ####
Create a series `flavor_counts` that contains two values: the number of wines that has the word "tart" in the `description` column and the number of wines that has the word "berries" in the `description` column. The index of the Series should be "Tart" and "Berries" for the corresponding values.

In [22]:
# Look for the word "tart", not case sensitive, not a substring of another word.
# Same applies to the word "berries"
# Your code here . . .
#False are the ones without tart and true are the ones with it

#count of the word tart in the column, true for hit false for miss
tart_count = (wine['description']).str.contains('tart').value_counts()
tart_count
#count of the word berries in the column, true for hit false for miss
berries_count = (wine['description']).str.contains('berries').value_counts()
berries_count
#create a series with the true count for both tart and berries
flavor_counts = pd.Series({'Tart': tart_count[True], 'Berries': berries_count[True]})
flavor_counts

Tart       4172
Berries    3503
dtype: int64

#### Question 7: ####
Let's convert the points into simple star ratings. A score of 90 or higher counts as 3 stars, a score of at least 80 but less than 90 is 2 stars. Any other score is 1 star.

Also, any wines from France should automatically get 3 stars, regardless of points.

Add this new column `star_ratings` to the dataframe with the number of stars for each wine in the dataset.

In [41]:
# Your code here . . .
#map on price column
ratings_map = {points : 3 if points >= 90
               else 2 if points >= 80
               else 1 for points in wine['points']}
wine['star_ratings'] = wine['points'].map(ratings_map)

#override on Fance
wine.loc[wine['country'] == 'France', 'star_ratings'] = 3

#print/check
wine[['country','points','star_ratings']]

#wine[wine['country'] == 'France'][['country','points','star_ratings']]

              country  points  star_ratings
Unnamed: 0
0               Italy      87             2
1            Portugal      87             2
2                  US      87             2
3                  US      87             2
4                  US      87             2
...               ...     ...           ...
65494          France      90             3
65495       Australia      90             3
65496              US      90             3
65497              US      90             3
65498           Spain      90             3

[65499 rows x 3 columns]

#### Question 8: ####
Who are the most common wine reviewers in the dataset? Create a Series whose index is the taster_twitter_handle category from the dataset, and whose values count how many reviews each person wrote.

top three reviewers:

@vossroger

@wineschach

@kerinokeefe

In [49]:
# Your code here . . .

#series with index= unique twitter handle and counts for each review in aesending order already
wine['taster_twitter_handle'].value_counts()

taster_twitter_handle
@vossroger          13045
@wineschach          7752
@kerinokeefe         5313
@paulgwine           4851
@vboone              4696
@mattkettmann        3035
@JoeCz               2605
@wawinereport        2358
@gordone_cellars     2032
@AnneInVino          1769
@laurbuzz             938
@suskostrzewa         593
@worldwineguys        465
@bkfiona               11
@winewchristina         4
Name: count, dtype: int64

#### Question 9: ####
What combination of countries and varieties are most common? Create a Series whose index is a MultiIndexof {country, variety} pairs. For example, a pinot noir produced in the US should map to {"US", "Pinot Noir"}. Sort the values in the Series in descending order based on wine count.

In [53]:
# Your code here . . .
#wine.info()
#series: index = multi-index so try groupby
wine.groupby(['country','variety']).size().sort_values(ascending=False)
#wine.groupby(['variety','country']).size().sort_values(ascending=False) #swaps the order of columns

country    variety
US         Pinot Noir                  4918
           Cabernet Sauvignon          3649
           Chardonnay                  3412
France     Bordeaux-style Red Blend    2380
Italy      Red Blend                   1870
                                       ...
Romania    Rosé                           1
US         Ugni Blanc                     1
           Touriga                        1
           Torrontés                      1
Argentina  Merlot-Cabernet Franc          1
Length: 1304, dtype: int64

#### Question 10 #####
Create a Series whose index is reviewers and whose values is the average score given out by that reviewer. Hint: you will need the `taster_name` and `points` columns.

In [56]:
# Your code here . . .
#wine.info()
#group by reviewers and aggregate on points(get avg using mean)
wine.groupby('taster_name')['points'].mean()

taster_name
Alexander Peartree    86.014286
Anna Lee C. Iijima    88.380506
Anne Krebiehl MW      90.587903
Carrie Dykes          86.644444
Christina Pickard     89.500000
Fiona Adams           87.090909
Jeff Jenssen          88.273504
Jim Gordon            88.604331
Joe Czerwinski        88.519770
Kerin O’Keefe         88.827969
Lauren Buzzeo         87.831557
Matt Kettmann         90.021087
Michael Schachner     86.904541
Mike DeSimone         89.030303
Paul Gregutt          89.095032
Roger Voss            88.678957
Sean P. Sullivan      88.666243
Susan Kostrzewa       86.408094
Virginie Boone        89.229557
Name: points, dtype: float64