# CSV Files and Data Frames

This exercise should get you started with handling data in Python. There is no data analysis yet, just some loading and filtering of the data. 


## Loading data from CSV
Your first step is always accessing the data. Often, the data is stored in a database or within files. One common and generic exchange format for files are Comma Separated Value (CSV) files. The first line of such a file indicates the names of the features, the following lines each contain a single instance.

First, download the ```analcatdata_bankruptcy``` dataset in the data folder and and upload it to your Jupyter notebook. 

Use the cell below to load the data from the CSV file. The data should be loaded into a _data frame_. Data frames are available in python using the ```pandas``` library. In comparison to matrices or similar types, they allow different types of columns, are usually easier to manipulate, e.g., by adding or removing rows/columns, and rows and columns can be named. 

Once you have done this, print some information about the data:
- number of instances
- number of features
- names of the features

In [35]:
import pandas as pd

df = pd.read_csv('../data/analcatdata_bankruptcy.csv', na_values='NA')

#df.describe()

# number of instances and features (row,col) 
#row=instance & col=features
print("number of instances and features:",df.shape) 
#names of features (columns)
df.info()

number of instances and features: (50, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Company   50 non-null     object
 1   WC/TA     50 non-null     float64
 2   RE/TA     50 non-null     float64
 3   EBIT/TA   50 non-null     float64
 4   S/TA      50 non-null     float64
 5   BVE/BVL   50 non-null     float64
 6   Bankrupt  50 non-null     int64
dtypes: float64(5), int64(1), object(1)
memory usage: 2.9+ KB

## Remove features

If you load all data from a file, you often also load irrelevant features for a task. In case of the data you just loaded, the feature is called ```Company```. This is an ID feature for the instances in the data. Such data must often be removed before further analysis of the data. Your second task is to remove this feature from the data.

In [36]:
#put the modified dataframe in a new dataframe in case you need the original later
df_2 = df.drop('Company', axis=1)
df_2.head()
#df_2.shape #(50,6)

   WC/TA  RE/TA  EBIT/TA  S/TA  BVE/BVL  Bankrupt
0    9.3   -7.7      1.6   9.1    3.726         1
1   42.6  -60.1    -10.1   0.3    4.130         1
2  -28.8 -203.2    -51.0  14.7    0.111         1
3    2.5 -433.1     -6.0  29.3    1.949         1
4   26.1  -57.4    -23.5  54.2    0.855         1

## Remove instances with missing values

Real-life data is often not clean, i.e., the data has many problems which must be addressed first, before it can be used for analysis. One common problem are missing features, i.e., not all features are available for all data. This is also the case for the data you just loaded. All missing values are marked as NA in the CSV file. 

Your third task is to remove all instances from the data, that have any missing values and store the remaining instances in a new data frame. If this works correctly, five instances should be removed. You can check this, e.g., by comparing the sizes of the data frames or printing the instances that were removed.

In [43]:
#new dataframe without NA
df_3 = df_2.dropna()

print("df:",df.shape,"df_2:",df_2.shape,"df_3:",df_3.shape)

print(df.isna().sum())   #no NAs; maybe the original was modifyed before I copied the csv
print(df_2.isna().sum()) #no NAs
print(df_3.isna().sum()) #no NAs

df: (50, 7) df_2: (50, 6) df_3: (50, 6)
Company     0
WC/TA       0
RE/TA       0
EBIT/TA     0
S/TA        0
BVE/BVL     0
Bankrupt    0
dtype: int64
WC/TA       0
RE/TA       0
EBIT/TA     0
S/TA        0
BVE/BVL     0
Bankrupt    0
dtype: int64
WC/TA       0
RE/TA       0
EBIT/TA     0
S/TA        0
BVE/BVL     0
Bankrupt    0
dtype: int64

## Computing with data frames

Sometimes you have to compute new columns from the values of existing columns. Please append two new columns to the data frame: The sum of the columns WC/TA and RE/TA and the product of the columns EBIT/TA and S/TA.

In [44]:
#appending so keeping changing the dataframe not making a new one

#sum of the columns WC/TA and RE/TA
df_3['sum_WC/TA_RE/TA'] = df_3['WC/TA'] + df_3['RE/TA']

#product of the columns EBIT/TA and S/TA
df_3['prod_EBIT/TA_S/TA'] = df['EBIT/TA'] * df_3['S/TA']

df_3.head()

,WC/TA,RE/TA,EBIT/TA,S/TA,BVE/BVL,Bankrupt,sum_WC/TA_RE/TA,prod_EBIT/TA_S/TA
0,9.3,-7.7,1.6,9.1,3.726,1,1.6,14.56
1,42.6,-60.1,-10.1,0.3,4.130,1,-17.5,-3.03
2,-28.8,-203.2,-51.0,14.7,0.111,1,-232.0,-749.70
3,2.5,-433.1,-6.0,29.3,1.949,1,-430.6,-175.80
4,26.1,-57.4,-23.5,54.2,0.855,1,-31.3,-1273.70

## Merging data frames

The next task of this exercise is to merge data frames. For this, load the data from the same CSV file as above again. Then merge the data frame with the result from task 2.4, such that:
- the dropped feature from task 2.2 is part of the merged data frame; and
- the removed instances from task 2.3 are still gone; and
- the indirectly computed features from task 2.4 are part of the merged data frame.

In [54]:
#original dataframe w Company merged w the computed features

df_4 = pd.concat([df,df_3],axis=1) #axis=1; merging on columns

#removing duplicate columns keeping all rows
df_4 = df_4.loc[:, ~df_4.columns.duplicated()]

df_4.head()

,Company,WC/TA,RE/TA,EBIT/TA,S/TA,BVE/BVL,Bankrupt,sum_WC/TA_RE/TA,prod_EBIT/TA_S/TA
0,360Networks,9.3,-7.7,1.6,9.1,3.726,1,1.6,14.56
1,Advanced_Radio_Telecom,42.6,-60.1,-10.1,0.3,4.130,1,-17.5,-3.03
2,Ardent_Communications,-28.8,-203.2,-51.0,14.7,0.111,1,-232.0,-749.70
3,At_Home_Corp.,2.5,-433.1,-6.0,29.3,1.949,1,-430.6,-175.80
4,Convergent_Communications,26.1,-57.4,-23.5,54.2,0.855,1,-31.3,-1273.70

## Selecting subsets

Based on the data frame from task 2.5, create new data frames according to the following criteria.
- A data frame with only the rows 10 to 20 and all columns. 
- A data frame with only the columns 1 to 4 and all rows. 
- A data frame with only the columns WC/TA and EBIT/TA and all rows. 
- A data frame with all rows that have the value RE/TA less than -20 and all columns.
- A data frame with all rows that have the value RE/TA less than -20 and bankrupt equal to 0 and all columns. 
- A data frame with all rows that have the value RE/TA less than -20 and bankrupt equal to 0 and only the columns WC/TA and EBIT/TA.

In [63]:
# A data frame with only the rows 10 to 20 and all columns.
df_41 = df_4.iloc[10:21] #21 bc its exclusive
print('A data frame with only the rows 10 to 20 and all columns.')
print(df_41)
# A data frame with only the columns 1 to 4 and all rows.
df_42 = df_4.iloc[:,1:5] # [:] = all rows, 1:5 = cols 1-4
print('A data frame with only the columns 1 to 4 and all rows.')
print(df_42)
# A data frame with only the columns WC/TA and EBIT/TA and all rows.
df_43 = df_4[['WC/TA','EBIT/TA']]
print('A data frame with only the columns WC/TA and EBIT/TA and all rows.')
print(df_43)
# A data frame with all rows that have the value RE/TA less than -20 and all columns.
df_44 = df_4[df_4['RE/TA'] < -20]
print('A data frame with all rows that have the value RE/TA less than -20 and all columns.')
print(df_44)
# A data frame with all rows that have the value RE/TA less than -20 and bankrupt equal to 0 and all columns.
df_45 = df_4[(df_4['RE/TA'] < -20) & (df_4['Bankrupt'] == 0)]
print('A data frame with all rows that have the value RE/TA less than -20 and bankrupt equal to 0 and all columns.')
print(df_45)
# A data frame with all rows that have the value RE/TA less than -20 and bankrupt equal to 0 and only the columns WC/TA and EBIT/TA.
df_46 = df_4.loc[(df_4['RE/TA'] < -20) & (df_4['Bankrupt'] == 0), ['WC/TA','EBIT/TA']]
print('A data frame with all rows that have the value RE/TA less than -20 and bankrupt equal to 0 and only the columns WC/TA and EBIT/TA.')
print(df_46)

A data frame with only the rows 10 to 20 and all columns.
                          Company  WC/TA  RE/TA  EBIT/TA   S/TA  BVE/BVL  \
10             Global_Telesystems   24.6  -29.0     -2.0   21.3    1.968
11                    GST_Telecom    6.6  -50.9     -2.6   28.9    0.258
12                       Metricom   33.9  -46.5    -17.5    0.9    0.828
13         Net2000_Communications   19.1  -66.3    -25.5   22.3    0.460
14          NetVoice_Technologies  -21.1  -46.0    -26.8   81.4    0.698
15                         PSINet    2.5 -228.7     -6.7   38.6    0.030
16         Rhythms_NetConnections   47.0  -78.2    -42.0    4.4    0.168
17             RSL_Communications    9.1  -40.2     -0.7   81.5    0.522
18                    SSE_Telecom   43.0  -49.2    -87.4  119.9    2.919
19  Startec_Global_Communications  -34.9  -79.0    -13.5  127.8    0.197
20                       Teligent   20.6 -146.3    -36.0   12.6    0.075

    Bankrupt  sum_WC/TA_RE/TA  prod_EBIT/TA_S/TA
10         1             -4.4             -42.60
11         1            -44.3             -75.14
12         1            -12.6             -15.75
13         1            -47.2            -568.65
14         1            -67.1           -2181.52
15         1           -226.2            -258.62
16         1            -31.2            -184.80
17         1            -31.1             -57.05
18         1             -6.2          -10479.26
19         1           -113.9           -1725.30
20         1           -125.7            -453.60
A data frame with only the columns 1 to 4 and all rows.
    WC/TA  RE/TA  EBIT/TA   S/TA
0     9.3   -7.7      1.6    9.1
1    42.6  -60.1    -10.1    0.3
2   -28.8 -203.2    -51.0   14.7
3     2.5 -433.1     -6.0   29.3
4    26.1  -57.4    -23.5   54.2
5    39.2 -111.8    -77.8   10.5
6    -5.4 -105.2     -5.8   38.9
7   -35.2  -92.4    -32.5   48.5
8    10.5  -12.4     -2.3   21.0
9   -22.4 -124.5     -7.9  125.6
10   24.6  -29.0     -2.0   21.3
11    6.6  -50.9     -2.6   28.9
12   33.9  -46.5    -17.5    0.9
13   19.1  -66.3    -25.5   22.3
14  -21.1  -46.0    -26.8   81.4
15    2.5 -228.7     -6.7   38.6
16   47.0  -78.2    -42.0    4.4
17    9.1  -40.2     -0.7   81.5
18   43.0  -49.2    -87.4  119.9
19  -34.9  -79.0    -13.5  127.8
20   20.6 -146.3    -36.0   12.6
21  -51.6 -326.1    -98.7    0.9
22  -93.0  -95.2     -7.3   34.8
23 -127.5 -121.3      6.4   65.7
24   -1.2  -47.5     -9.7   14.5
25   30.6  -14.4     -4.9    2.2
26    9.8  -33.8     -7.1    3.2
27   37.8  -45.4     -7.1   17.1
28    2.2   31.6     22.0   58.0
29  -11.5   27.6     24.4   51.4
30   -4.1   -5.8      7.7   31.6
31   -5.7   21.1     14.3   28.9
32   25.2    0.0      7.9   25.9
33   -5.7    0.0     16.3   49.9
34    1.7   11.4     14.1   48.0
35   13.8  -37.6    -13.0   32.3
36    8.2  -15.6      0.3   87.7
37   74.7   54.6     27.9   74.6
38   43.1   -0.4      3.4   40.0
39   48.7   38.4     -9.2   65.4
40   40.7    0.6      1.8   49.2
41   20.3  -61.3      1.9   27.0
42   16.1    3.6     11.6   21.4
43   -6.1    0.0      9.4   22.6
44   -7.2   18.6     20.8   52.2
45   -5.3   31.0      4.9   26.9
46    4.1  -10.1      9.7   36.0
47    0.3   27.9     16.1   49.5
48   -7.4    8.9     15.3   39.3
49    1.1  -39.5     15.7   41.8
A data frame with only the columns WC/TA and EBIT/TA and all rows.
    WC/TA  EBIT/TA
0     9.3      1.6
1    42.6    -10.1
2   -28.8    -51.0
3     2.5     -6.0
4    26.1    -23.5
5    39.2    -77.8
6    -5.4     -5.8
7   -35.2    -32.5
8    10.5     -2.3
9   -22.4     -7.9
10   24.6     -2.0
11    6.6     -2.6
12   33.9    -17.5
13   19.1    -25.5
14  -21.1    -26.8
15    2.5     -6.7
16   47.0    -42.0
17    9.1     -0.7
18   43.0    -87.4
19  -34.9    -13.5
20   20.6    -36.0
21  -51.6    -98.7
22  -93.0     -7.3
23 -127.5      6.4
24   -1.2     -9.7
25   30.6     -4.9
26    9.8     -7.1
27   37.8     -7.1
28    2.2     22.0
29  -11.5     24.4
30   -4.1      7.7
31   -5.7     14.3
32   25.2      7.9
33   -5.7     16.3
34    1.7     14.1
35   13.8    -13.0
36    8.2      0.3
37   74.7     27.9
38   43.1      3.4
39   48.7     -9.2
40   40.7      1.8
41   20.3      1.9
42   16.1     11.6
43   -6.1      9.4
44   -7.2     20.8
45   -5.3      4.9
46    4.1      9.7
47    0.3     16.1
48   -7.4     15.3
49    1.1     15.7
A data frame with all rows that have the value RE/TA less than -20 and all columns.
                          Company  WC/TA  RE/TA  EBIT/TA   S/TA  BVE/BVL  \
1          Advanced_Radio_Telecom   42.6  -60.1    -10.1    0.3    4.130
2           Ardent_Communications  -28.8 -203.2    -51.0   14.7    0.111
3                   At_Home_Corp.    2.5 -433.1     -6.0   29.3    1.949
4       Convergent_Communications   26.1  -57.4    -23.5   54.2    0.855
5            Covad_Communications   39.2 -111.8    -77.8   10.5    0.168
6                         e.spire   -5.4 -105.2     -5.8   38.9    0.028
7                          eGlobe  -35.2  -92.4    -32.5   48.5   11.280
9     General_Datacomm_Industries  -22.4 -124.5     -7.9  125.6    1.595
10             Global_Telesystems   24.6  -29.0     -2.0   21.3    1.968
11                    GST_Telecom    6.6  -50.9     -2.6   28.9    0.258
12                       Metricom   33.9  -46.5    -17.5    0.9    0.828
13         Net2000_Communications   19.1  -66.3    -25.5   22.3    0.460
14          NetVoice_Technologies  -21.1  -46.0    -26.8   81.4    0.698
15                         PSINet    2.5 -228.7     -6.7   38.6    0.030
16         Rhythms_NetConnections   47.0  -78.2    -42.0    4.4    0.168
17             RSL_Communications    9.1  -40.2     -0.7   81.5    0.522
18                    SSE_Telecom   43.0  -49.2    -87.4  119.9    2.919
19  Startec_Global_Communications  -34.9  -79.0    -13.5  127.8    0.197
20                       Teligent   20.6 -146.3    -36.0   12.6    0.075
21                  U.S._Wireless  -51.6 -326.1    -98.7    0.9    2.402
22                         Viatel  -93.0  -95.2     -7.3   34.8    0.071
23               WebLink_Wireless -127.5 -121.3      6.4   65.7    0.248
24                        Winstar   -1.2  -47.5     -9.7   14.5    0.456
26            Akamai_Technologies    9.8  -33.8     -7.1    3.2    5.965
27             Allegiance_Telecom   37.8  -45.4     -7.1   17.1    3.450
35                          Digex   13.8  -37.6    -13.0   32.3   13.768
41               Openwave_Systems   20.3  -61.3      1.9   27.0   35.178
49               Western_Wireless    1.1  -39.5     15.7   41.8    1.449

    Bankrupt  sum_WC/TA_RE/TA  prod_EBIT/TA_S/TA
1          1            -17.5              -3.03
2          1           -232.0            -749.70
3          1           -430.6            -175.80
4          1            -31.3           -1273.70
5          1            -72.6            -816.90
6          1           -110.6            -225.62
7          1           -127.6           -1576.25
9          1           -146.9            -992.24
10         1             -4.4             -42.60
11         1            -44.3             -75.14
12         1            -12.6             -15.75
13         1            -47.2            -568.65
14         1            -67.1           -2181.52
15         1           -226.2            -258.62
16         1            -31.2            -184.80
17         1            -31.1             -57.05
18         1             -6.2          -10479.26
19         1           -113.9           -1725.30
20         1           -125.7            -453.60
21         1           -377.7             -88.83
22         1           -188.2            -254.04
23         1           -248.8             420.48
24         1            -48.7            -140.65
26         0            -24.0             -22.72
27         0             -7.6            -121.41
35         0            -23.8            -419.90
41         0            -41.0              51.30
49         0            -38.4             656.26
A data frame with all rows that have the value RE/TA less than -20 and bankrupt equal to 0 and all columns.
                Company  WC/TA  RE/TA  EBIT/TA  S/TA  BVE/BVL  Bankrupt  \
26  Akamai_Technologies    9.8  -33.8     -7.1   3.2    5.965         0
27   Allegiance_Telecom   37.8  -45.4     -7.1  17.1    3.450         0
35                Digex   13.8  -37.6    -13.0  32.3   13.768         0
41     Openwave_Systems   20.3  -61.3      1.9  27.0   35.178         0
49     Western_Wireless    1.1  -39.5     15.7  41.8    1.449         0

    sum_WC/TA_RE/TA  prod_EBIT/TA_S/TA
26            -24.0             -22.72
27             -7.6            -121.41
35            -23.8            -419.90
41            -41.0              51.30
49            -38.4             656.26
A data frame with all rows that have the value RE/TA less than -20 and bankrupt equal to 0 and only the columns WC/TA and EBIT/TA.
    WC/TA  EBIT/TA
26    9.8     -7.1
27   37.8     -7.1
35   13.8    -13.0
41   20.3      1.9
49    1.1     15.7